/* Enter your custom styles here */
.redText {
    color: red;
}
.greenText {
    color: green;
}
.orangeText {
    color: rgb(255, 145, 0);
}
.blueText {
    color: rgb(0, 0, 255);
}
.bigText{
    font-size: 1.1em;
}